
asgiref = 3.8.1
crispy-bootstrap5 = 2024.2
distlib = 0.3.8
Django = 5.0.4
django-crispy-forms = 2.1
filelock = 3.14.0
joblib = 1.4.2
mssql-django  = 1.4.2
numpy = 1.26.4
pip = 24.0
platformdirs = 4.2.1
pyodbc = 5.1.0
pytz = 2024.1
scikit-learn = 1.3.2
scipy = 1.13.0
setuptools  = 65.5.1
sqlparse =  0.5.0
threadpoolctl = 3.5.0
tzdata = 2024.1
virtualenv = 20.26.1

#python -m django-mssql-backend --version
