{% extends "base.html" %}

{% block title %}home{% endblock title %}




{% block body %}

<section class="text-gray-600 body-font -may-9" >
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">SISTEMA DE DETECCION DE ANEMIA - INSN</h1>
        <p class="mb-8 leading-relaxed">Modelo Predictivo para la deteccion de anemia en etapas tempranas mediante sus datos clinicos a niños menores de 10 años</p>

        <img class="lg:w-4/6 md:w-5/6 w-5/6 mb-10 mx-auto object-cover object-center rounded" alt="hero" src="static/anemia.png">
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
          <div class="p-2 sm:w-1/2 w-full">
            <div class="bg-gray-100 rounded flex p-4 h-full items-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
              <span class="title-font font-medium">Jonathan Rivera</span>
            </div>
          </div>
          <div class="p-2 sm:w-1/2 w-full">
            <div class="bg-gray-100 rounded flex p-4 h-full items-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
              <span class="title-font font-medium">Diego Cardenas</span>
            </div>
          </div>

        </div>
        
      </div>
    </div>
  </section>


  <footer class="text-gray-600 body-font -may-9">
    <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
          <span class="ml-3 text-xl">Taller de Proyectos II</span>
        </a>
        <p class="mt-2 text-sm text-gray-500">PRY20232029</p>
      </div>
      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Objetivo 1</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">Investigar y</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">comparar</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Modelos Predictivos</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Objetivo 2</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">Diseño de la</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Arquitectura</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Logica-Fisica</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Objetivo 3</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">Validar el</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Modelo</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Predictivo</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Objetivo 4</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">Plan de</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Continuidad</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">a futuro</a>
            </li>
          </nav>
        </div>
      </div>
    </div>
    
  </footer>
{% endblock body %}